/*Style global*/
*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
    box-sizing: border-box;
}
body{
    background: #ededed;
}
p{
    font-size: 1em;
    line-height: 1.5em;
}
a{
    text-decoration: none;
    color: #000;
}
/* Header*/
header{
    width: 100%;
    padding: 20px 0px;
    background: url("https://drive.google.com/uc?export=view&id=1pPm3q4I5an4qQxvavUYDHd6ItmrvOtvb") #4f4f4f;
    background-size: cover;
    box-shadow: 0px 0px 15px #333;
}
header{
    border-bottom: 2px solid #fff;
    height: 120px;
}
header h1{
    color: white;
    font-size: 1.5em;
    width: 90%;
    margin: auto;
}
/*Sections*/
section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px #bbb;
    background-color: #fff;
}
section h2{
    margin: 20px 0;
    width: 90%;
}
section > div{
    width: 90%;
}
/*Section Info*/
.photo{
    text-align: center;
}
.photo img{
    width: 150px;
    height: auto;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
    margin-top: -80px;
}
.presentation{
    border-bottom: 2px dashed#ccc;
}
.presentation a{
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px auto 30px auto;
    color: #fff;
    background-color: #ea0;
    box-shadow: 0px 0px 10px #ccc;
    border-radius: 5px;
}
.contact-flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.contact-flex p:first-child{
    flex: 0 0 40%;
}
.contact-flex p:last-child{
    flex: 0 0 60%;
}
.social{
    display: flex;
    justify-content: space-around;
    margin: 10px auto 0px auto;
}
.social img{
    width: 40px;
    height: 40px;
}
/*section exp et formation*/
.exp{
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.exp-info{
    display: flex;
    flex-flow: column wrap;
}
.exp-logo{
    flex: 0 0 25%;
    max-width: 100%;
}
.exp-info{
    flex: 0 0 70%;
    margin-left: auto;
}
.exp img{
    width: 100%;
}
.exp h3{
    font-size: 1.2em;
}
.exp h4{
    font-size: 1em;
    font-weight: normal;
}
/*Section compÃ©tences*/
.h3gauche{
    width: 90%;
}
.h4gauche{
    width: 90%;
    margin-top: 15px;
}
.comp{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.conteneur-barre{
    flex: 0 0 100%;
    height: 0.5em;
    margin-bottom: 0.25em;
    border-radius: 5px;
}
.barre{
    display: block;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.barre-c45,.barre-c10, .barre-c70, .barre-c90, .barre-c95 {
    flex: 0 0 100%;
    border: 1px solid black;
    height: 0.5em;
    margin-bottom: 0.25em;
    border-radius: 10px;
    width: 100%;
    background-color: #8b8;
}
.comp2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.conteneur-barre2{
    flex: 0 0 100%;
    height: 0.5em;
    margin-bottom: 0.25em;
    border-radius: 5px;
}
.interet{
    flex: 0 1 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
}
.interet img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #555;
}
/*Bureau*/
@media screen and (min-width: 980px){
    section{
        width: 80%;
        box-shadow: 0px 0px 10px #bbb;
    }
    a:hover{
        color: #ea0;
    }
    header h1{
        width: 80%;
    }
    .presentation, .contact{
        flex: 0 0 45%;
    }
    .presentation{
        border-bottom: none;
        border-right: 2px solid #ccc;
        margin-left: auto;
    }
    .contact{
        padding-left: 20px;
        margin-left: auto;
    }
    .presentation a{
        border: 2px solid transparent;
    }
    .presentation a:hover{
        color: #f28835;
        background-color: #fff;
        border: 2px solid #f28835;
        box-shadow: 0px 0px 20px #666;
    }
    .exp-logo{
        flex: 0 0 10%;
    }
    .exp-info, .exp-desc{
        flex: 0 0 85%;
        margin-left: auto;
    }
    .interet{
        flex: 0 1 25%;
    }
}